@import url(reset.css);

:root {
    font-size: 100%;
}
html {
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100%;
}
body {
    font-family: Arial, sans-serif;
    width: 100%;
   height: 100%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    margin: 0;
    padding: 0;
    bottom: 44px;
}
header {
    width: 100%;
}
#top {
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    text-decoration: none;
    justify-content: space-evenly;
}
#top a:link {
    color: #222;
    text-decoration: none;
}
#top a:visited{
    color: #222;
    text-decoration: none;
} 

#head-left {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    margin-top: 23px;
    margin-left: 26px;
}
#head-left > * {
    padding-right: 20px;
}
#head-right {
    width: 50%;
display:flex;
justify-content: flex-end;
font-size: 13px;
margin-top: 11px;
vertical-align: text-bottom;
margin-right: 15px;
}
#head-right > * {
 margin-left: 7px;
}
.link-right {
margin-top: 12px;
margin-right: 8px;
}

button[type="button"] {
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#apps-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 11px;
}
#apps-button:hover {
    background-color: rgba(12, 76, 124, 0.08);

}
#git-icon {
    width: 40px;
    height: 40px;
}
#margin-top {
    width: 1px;
    top: 53px;
   height: calc(100vh - 658px);
    max-height: 205px;
    flex-shrink: 2;
    flex-grow: 1;
}
#margin-bottom {
    width: 1px;
   height: 110px;
    flex-shrink: 1;
    flex-grow: 2;
}
main {
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
}
form {
    margin: 0;
    padding: 0;
    width: 100%;
}

#logo {
    margin: 0 auto;
    width: 272px;
    height: 92px;
}
#search-bar-w-icon {
    width: 100%;
    max-width: 645px;
    min-width: 408px;
    height: 46px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 30px;
    
}
#search-bar::-webkit-search-cancel-button{
display: none;
}
#search-bar {
    margin: 0;
    width: 100%;
    outline: none;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    padding: 10px 30px;
    padding-left: 60px;
    font-size: 16px;
}
#search-bar:hover, #search-bar:active {
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
#search-icon {
    width: 20px;
    height: 20px;
z-index: 100;
position: relative;
left: 35px;
top: 12px;
opacity: 50%;
}
#micro {
    z-index: 100;
position: relative;
right: 48px;

}

.icon {
    width: 24px;
    height: 24px;
}

button[type="submit"] {
    padding: 0 16px;
    height: 36px;
    margin: 0px;
    border: 1px solid #f8f9fa;
    background-color: #f8f9fa;
    color: #3c4043;
    border-radius: 4px;
    cursor: pointer;
    line-height: 27px;
    text-rendering: auto;
}
button[type="submit"]:hover {
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#div-button {
    width: 100%;
    display: flex;
    justify-content: center;
}
#spacing-buttons {
    width: 11px;
}

footer {
    position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
}
#bottom {
   
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #f2f2f2;
}
#bottom a:link {
    color: #70757a;
    text-decoration: none;
}
#bottom a:visited {
    color: #70757a;
    text-decoration: none;
}
#top a:hover, #bottom a:hover {
    text-decoration: underline;
}
#foot-left {
width: 50%;
min-width: 294px;
display: flex;
justify-content: space-evenly;
padding: 0;
white-space: nowrap;
height: 44px;
}

#foot-right {
    width:50%;
    min-width: 294px;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    white-space: nowrap;
    height: 44px;
}
#bottom a{
    padding: 15px;
}


#spacing-bottom {
    width: 0;
}
@media screen and (min-width:1200px) {
    #foot-left {
        justify-content: flex-start;
    }
    #foot-right {
        justify-content: flex-end;
    }
}